<%- include('templates/head') %>
<body>
    
<%- include('templates/nav') %>
<header id="header">
    <h1></h1>
    <img src="media/img/1360x650.png" alt="" loading="eager">
</header>

<main class="width-container ">
    <h2>Productos</h2>
    <p>Lorem ipsum dolor sit.</p>
    <div class="content-grid-2">
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
  
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
        <article>
            <div class="relative-container">
                <h3> Titulo </h3>
                <p>Lorem ipsum dolor sit.</p>
                <img src="media/img/500x300.png" alt="" loading="lazy">
            </div>
            <button>CIA</button>
        </article>
    </div>
</main>

<section class="width-container ">
    <div class="example-prduct">
        <img src="media/img/350x450.png" alt="" loading="lazy">
        <div>
            <h3>Titulo de ejemplo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ullam ea voluptatum beatae modi nisi sunt, mollitia assumenda blanditiis rgiebp" alt="" loading="lazy">
            <img src="media/colaboraciones_img/Nike-logo-png-white.webp" alt="" loading="lazy">
            <img src="media/colaboraciones_img/puma-logo-black.png" alt="" loading="lazy">
            <img src="media/colaboraciones_img/zara-logo-white.webp" alt="" loading="lazy">
        </div>  
    </div>
</section>
<section class="width-container" id="opinion">
    <h2>Que opinan nuestros clientes</h2>
    <div class="content-grid-2">
        <article class="opinion">
            <img src="media/icon/user-icon.svg" alt="">
            <div>
                <h4><%# usuario.nombre %> Carolina Martinez<%# usuario.apellido %></h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab cum iusto hic. Quaerat eius voluptates aliquid id accusantium quidem? Quasi.</p>
            </div>
        </article>

        <article class="opinion">
            <img src="media/icon/user-icon.svg" alt="">
            <div>
                <h4>Nombre Apellido</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab cum iusto hic. Quaerat eius voluptates aliquid id accusantium quidem? Quasi.</p>
            </div>
        </article>
        
        <article class="opinion">
            <img src="media/icon/user-icon.svg" alt="">
            <div>
                <h4>Nombre Apellido</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab cum iusto hic. Quaerat eius voluptates aliquid id accusantium quidem? Quasi.</p>
            </div>
        </article>

        <article class="opinion">
            <img src="media/icon/user-icon.svg" alt="">
            <div>
                <h4>Nombre Apellido</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab cum iusto hic. Quaerat eius voluptates aliquid id accusantium quidem? Quasi.</p>
            </div>
        </article>
    </div>
</section>
<%- include('templates/footer') %>


</body>
<script>
    const navSticky = document.querySelector("nav");
    let lastScrollPosition = window.scrollY;

function navScroll() {
    const currentScrollPosition = window.scrollY;

    if (currentScrollPosition > lastScrollPosition) {
        navSticky.classList.add("hidden");
    } else {
        navSticky.classList.remove("hidden");
    }
    lastScrollPosition = currentScrollPosition;
}

window.addEventListener("scroll", navScroll);
</script>