<nav id="nav">
    <div  class="width-container">
     <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/mainMenu">Moda</a></li>
        <li><a href="">Fitness</a></li>
        <li><a href="">Bienestar</a></li>
        <li><img src="/media/icon/user-icon.svg" alt="">
            <div class="">
               <ul>
                <!--Si usario existe no debe aparecer login y register-->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <!--Si usario existe pintar logout-->
                <li><a href="/logout">Logout</a></li>
            </ul> 
            </div>
        </li>
     </ul> 
    </div>
</nav>